.temp-04-carousel {
  position: relative;
  &__inner {
    @include resp-section-padding();
    @include resp-section-height();
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .glide {
    height: 250px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
}
